input.el-input__inner {
  background-color: #0e1726;
  border-radius: 8px;
  border: 1.5px solid #3b3f5c;
}
input.el-input__inner:hover {
  border: 1.5px solid #3b3f5c;
}
div.el-input-group__append {
  background-color: #0e1726;
  border: 1.5px solid #3b3f5c;
  border-left: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
